@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Verdana', sans-serif;
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background: #d113d1;
}

.login-box{
    display:flex;
    justify-content:center;
    flex-direction:column;
    width:500px;
    height:580px;
    padding:50px;
}

.login-header{
  text-align:center;
  margin:30px 0 50px 0;
}

.login-header header{
  color: #bbb;
  font-size: 50px;
  font-weight: 600px;
}

.input-box .input-field{
  width:120px;
  height: 80px;
  font-size: 19px;
  padding: 0 30px;
  margin-bottom: 17px;
  border-radius:50px;
  border:none;
  box-shadow: 0px 5px 10px 1px royalblue;
  outline:none;
  transition: .5s;
}

::placeholder{
  font-weight: 600;
  color:aliceblue;
}

.input-field:focus{
  display:flex;
  justify-content:space-between;
  margin-bottom:40px;
}

section{
  display:flex;
  align-items:center;
  font-size:16px;
  color:aqua;
}

#check{
  margin-right: 12px;
}

a{
  text-decoration-style: wavy;
}

a:hover{
  text-decoration: underline;
}

section a{
  color:#bbb;
}

.input-submit{
  position:relative;
}

.submit-btn{
  width:100px;
  height: 60px;
  background:#bbb;
  border:none;
  border-radius: 30px;
  cursor:pointer;
  transition: .3s;
}

.input-submit label{
  position:absolute;
  top:45%;
  left: 50%;
  color: #fff;
  -webkit-transform: transalate(-50%,-50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;;
}

.submit-btn:hover{
background: #009;
transform: scale(1.05,1);
}

.sign-up link{
  text-align:center;
  font-size:16px;
  margin-top:21px;
  color:black;
  font-weight:600;
}
